{{ define "main" }}

{{ $excludedPages := slice }}

{{ range first 1 (where .Site.RegularPages "Section" "unity") }}
  <div class="image-container">
    <a href="{{ .RelPermalink }}">
      <img src="{{ .Params.image }}" alt="{{ .Title }}">
      <div class="image-title">
        <h2>{{ .Title | truncate 120 }}</h2>
        {{ $excludedPages = $excludedPages | append .Title }}
      </div>
    </a>
  </div>
{{ end }}

<hr class="styled-hr">
<div class="page-list home">
  <h1>Latest Articles</h1>
</div>

<div class="swiper-container">
  <div class="swiper-wrapper">
    {{ range .Site.Sections }}
      {{ range first 1 (where .Site.RegularPages "Section" .Section) }}
        {{ if and (ne .Section "unity") (ne .Section "authors") }}
          <div class="swiper-slide">
            <a href="{{ .RelPermalink }}" class="page-item-home">
              <div class="page-image latest">
                {{ if .Params.image }}
                  <img src="{{ .Params.image }}" alt="{{ .Title }}">
                {{ end }}
              </div>
              <div class="page-content">
                <h2 class="page-title">{{ .Title | truncate 120 }}</h2>
                {{ $excludedPages = $excludedPages | append .Title }}
                <p class="page-description">{{ .Params.description | truncate 120 }}</p>
                <p class="page-date">{{ .Date | time.Format ":date_long" }}</p>
              </div>
            </a>
          </div>
        {{ end }}
      {{ end }}
    {{ end }}
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
</div>

<hr class="styled-hr">
<div class="page-list">
  <h1>More Articles</h1>
  {{ range .Site.RegularPages | shuffle }}
    {{ if and (not (in $excludedPages .Title)) (ne .Section "authors") }} <!-- Check if the current page is not in the excluded list and not in the authors section -->
        <a href="{{ .RelPermalink }}" class="page-item">
            <div class="page-image">
                {{ if .Params.image }}
                    <img src="{{ .Params.image }}" alt="{{ .Title }}">
                {{ end }}
            </div>
            <div class="page-content">
                <h2 class="page-title">{{ .Title | truncate 120 }}</h2>
                <p class="page-description">{{ .Params.description | truncate 120 }}</p>
                <p class="page-date">{{ .Date | time.Format ":date_long" }}</p>
            </div>
        </a>
    {{ end }}
  {{ end }}
</div>

<div class="button-container">
  <button id="load-more">Load more</button>
</div>

{{ end }}